/* GOALS SECTION */

.goals-section {
  padding: 120px 0;
}

.goals-container {
  padding-left: 15px;
  padding-right: 15px;
}

.goals-list {
  display: flex;
  gap: 24px;
}

.goals-list-item {
  width: calc((100% - 72px) / 4);
}

.goals-list-title {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.goals-list-text {
  color: var(--color-slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.goals-icons-container {
  display: flex;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-cloud);
  border-radius: 4px;
  border: 1px solid var(--color-light-slate);
}
