/* GOALS SECTION */
.goals-section {
  padding: 96px 0;
}

.goals-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.goals-icons-container {
  display: none;
}

.goals-list-title {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  text-transform: capitalize;
}

 .goals-list-text {
    color: var(--color-slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

/* TABLET */
@media screen and (min-width: 768px) {
  .goals-section {
    padding: 96px 0;
  }

  .goals-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .goals-list-title {
    text-align: left;
  }

  .goals-list-item {
    width: calc((100% - 24px) / 2);
  }
} /* /TABLET */

/* DESCTOP */
@media screen and (min-width: 1158px) {
  .goals-section {
    padding: 120px 0;
  }

  .goals-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .goals-icons-container {
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cloud);
    border-radius: 4px;
    border: 1px solid var(--color-light-slate);
  }

  .goals-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .goals-list-text {
    font-weight: 400;
  }

  .goals-list-item {
    width: calc((100% - 72px) / 4);
  }
}
/* /DESCTOP */

